.open {
  display: block;
  width: 100%;
  cursor: zoom-in;
}

.open[data-cover] {
  height: 100%;
}

.missing {
  min-height: 120px;
  width: 100%;
}

.cover {
  width: 100%;
  object-position: top;
}
