.doc {
  --gate-context-fz: var(--mantine-font-size-lg);
  --gate-context-lh: 20px;
  max-width: none;
}

.doc h1,
.doc h2 {
  margin: 0 0 10px;
  line-height: normal;
  font-weight: 700;
  color: var(--tk-text-1);
}

.doc h1 {
  font-size: var(--mantine-h3-font-size);
}

.doc h2 {
  font-size: var(--mantine-font-size-lg);
}

.doc * + h2 {
  margin-top: 14px;
}

.list {
  margin: 0 0 var(--mantine-spacing-xs);
}

.preview p,
.preview .list {
  margin-bottom: 8px;
}
